/*p {
   color: red;
}

p{
   color: blue;
}


#topo{
   background-color: red;
}

.destaque{
   background-color: orange;
}

#topo{
   background-color: yellow;
}

#rodape{
   border: 2px solid grey;
}

.curso{
   background-color: lightgray;
}

.curso-destaque{
   background-color: orange;
}*/
