.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'cabecalho cabecalho'
        'capa-conteudo capa-imagem'
        'organizacao-imagem organizacao-conteudo'

    ;
    row-gap: 20px;
    column-gap: 20px;
}

header{
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

section#capa-conteudo{
    grid-area: capa-conteudo;
}

section#capa-imagem{
    grid-area: capa-imagem;
}

section#organizacao-imagem{
    grid-area: organizacao-imagem;
}

section#capa-imagem > img, section#organizacao-imagem > img {
    max-width: 100%;

}

section#organizacao-conteudo{
    grid-area: organizacao-conteudo;
}

nav{
    flex-grow: 1;
}

ul{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
}

ul a:link, a:visited{
    padding: 10px;
    text-decoration: none;
    color: #484848;
}

ul a:hover{
    color: #0B5CFF;
}

.botao{
    text-decoration: none;
    color: #0B5CFF;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
}

.botao:hover{
    background: #e6ecf8;
}

.botao.destaque{
    background-color: #0B5CFF;
    color: white;
}

.botao.destaque:hover{
    background-color: #2d73ff;
}